<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oneirocrit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <div class="container">
        <div class="nav">
            <div class="path-bar bar top">Loading (0/2)</div>
            <div class="nav-content content-box" data-range="" data-mode="overview"></div>
            <!-- <div class="word-search bar bottom collapsible"></div> -->
            <div class="saved-pages bar bottom collapsible"></div>
            <div class="import bar bottom collapsible"></div>
            <div class="help bar bottom collapsible"></div>
        </div>
        <div class="frequency">
            <div class="frequency-bar bar top">Word Frequency</div>
            <div class="frequency-content content-box"></div>
            <ul class="marked-words"></ul>
            <div class="filter bar bottom collapsible"></div>
            <!-- <div class="order bar bottom collapsible">
                <div class="order-bar bar top">Word Order</div>
                <div class="order-content content-box"></div>
            </div> -->
        </div>
        <div class="visualization">
            <div class="visualization-bar bar top">Data Visualization </div>
            <div class="visualization-content content-box"></div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>